/*body*/

@font-face{
    font-family: 'SinkinSan';
    src: url('font/SinkinSans-100Thin.otf') format('otf');
}

/*navigation*/

body{
  font-family: 'SinkinSan';
}

nav{
  font-size : 1.2em;
  background-color:#335384;
}

nav-item{
  background-color:red;
  padding: 0.1%;
}

/*contenu*/

li{
  margin-left:1em;
  list-style-type:none;
}

.check li::before{
  content: "✔️";
}

h1{
  font-size : 2em;
}

.col-lg-6 ul{
  list-style:none;
}

.col-3{
  margin-left:10px;
  background-color:#335384;
  color:#ffffff;
  padding:15px;
}
.col-3 p{
  font-family: 'SinkinSan', Arial, serif;
  color:#ffffff;
}

.profile {
 top:0;
 margin:auto;
}

.col-7{
  margin-left:10px;
}

img.profile
{
  max-width: 33%;
}

#details{
  border:2px solid black;
}

.navbar{
  justify-content:center;
}

/*footer*/

.footer{
  position: relative;
}


.social a{
  text-decoration: none;
  color:#ffffff;
  text-align: left;
}