/*body*/

@font-face{
    font-family: 'SinkinSan';
    src: url('font/SinkinSans-100Thin.otf') format('otf');
}


body{
  font-family: 'SinkinSan';
}

/*footer*/

footer{
  position: relative;
  text-align: center;
  background-color: #f8f9fa;
  height:2.5em;
}

/*navigation*/

nav{
  font-size : 1.2em;
  position:sticky;
  top:0;
}

.nav-link{
  background-color: #335384;
}

/*content*/

li{
  list-style-type:none;
}

li.check::before{
  content: " ✔️";
}

h1{
  font-size : 2em;
}

.col-3{
  margin-left:10px;
  background-color:#335384;
  color:#ffffff;
  padding:15px;
  height:auto;
}
.col-3 p{
  font-family: 'SinkinSan', Arial, serif;
  color:#ffffff;
}

.col-7{
  margin-left:10px;
}

img.profile
{
  max-width: 40%;
}

#details{
  border:2px solid black;
}

.social a{
  text-decoration: none;
  color:#ffffff;
}

::-webkit-input-placeholder { /* Edge */
  text-align:center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  text-align:center;
}

::placeholder {
  text-align:center;
}
