/*body*/

#container{
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

@font-face{
    font-family: 'SinkinSan';
    src: url('font/SinkinSans-100Thin.otf') format('otf');
}

/*navigation*/
.navbar{
  background-color:grey;
  font-family: 'SinkinSan', Arial, serif;
  font-size: 2em;
  align:justify-content-center;

}
li a{
  Display:block;
}

nav-item{
  align:center;
  background-color:red;
  padding: 5px;
}

/*contenu*/

h1, h2, h3, h4{
    font-family: 'SinkinSan', Arial, serif;
}

.col-lg-6
{

}

.col-lg-6 ul{
  list-style:none;
}

.col-lg-3{
  margin-left:10px;
  background-color:#088e8b;
}

.col-lg-7{
  margin-left:10px;
  background-color:skyblue;
}

img.profile
{
  max-width: 33%;
}

/*footer*/

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
